.uploadButtonInput {
  display: none; /* Hide the default input */
}

.fileInputContainer {

}
.fileInputLabel {
  /* display: flex; 
  justify-content: center;
  align-items: center;  */
  width: 25px;
  height: 25px;
  border-radius: 50%; /* Make it circular */
  color: black; /* Color of the text */
  border: none;
  cursor: pointer;
  font-size: 10px;
  padding: 0.4em;
  /* margin-top: 5px; */
}

.fileInputLabel :hover {
  background-color: rgb(230, 230, 230);
}

.upload_button_container {
  display: flex;
  justify-content: center;
}

.bodyDiv {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}
.uploadLabel {
  font-weight: bold;
  display: flex;
  /* margin-bottom: 5px; */
}
.fileSpan {
  /* margin-top: 5px; */
}
.uploadInput[type="text"],
.uploadInput[type="file"]{
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.uploadInput#description {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  height: 250px;
  
 
  
}



.upload_button {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
  display: inline-block; /* Ensure buttons are displayed in a line */
  vertical-align: middle; /* Center buttons vertically */
  margin-left: 10px; /* Add space between buttons */
}
.upload_button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}


.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

.form_control {
  margin-bottom: 20px;
}


.customFileUpload {
  height: 200px;
  width: 380px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.customFileUpload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customFileUpload .icon svg {
  height: 80px;
  /* fill: rgba(75, 85, 99, 1); */
}

.customFileUpload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customFileUpload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.customFileUpload input {
  display: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
