.signin {
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: 1px solid #3b82f6;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
  display: inline-block; /* Ensure buttons are displayed in a line */
  vertical-align: middle; /* Center buttons vertically */
  margin-left: 10px; /* Add space between buttons */
  }
  
  .signin:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }

.loading {
  display: inline-block;
  border: 1px solid gray;
  color: #EAEAEB;
  padding: 10px 20px;
  border-radius: 24px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 6%;
}
.loading:hover {
  background-color: #bee0fd;
  border: 1px solid transparent;
}