.signin {
    display: inline-block;
    border: 1px solid gray;
    color: #065fd4;
    padding: 10px 20px;
    border-radius: 24px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background-color: #EAEAEB;
    width: 6%;
  }
  
  .signin:hover {
    background-color: #bee0fd;
    border: 1px solid transparent;
  }

.loading {
  display: inline-block;
  border: 1px solid gray;
  color: #EAEAEB;
  padding: 10px 20px;
  border-radius: 24px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 6%;
}
.loading:hover {
  background-color: #bee0fd;
  border: 1px solid transparent;
}